Sets are unordered colloection of <strong>unique</strong> elements

In [1]:
my_set = set()

In [2]:
my_set.add(1)

In [3]:
my_set

{1}

In [4]:
my_set.add(2)

In [5]:
my_set.add(2)

In [6]:
my_set

{1, 2}

Set only accepts unique value

In [7]:
my_list = [1, 1, 1, 1, 1, 2, 2, 2, 2]

In [8]:
set(my_list)

{1, 2}

In [10]:
str1 = "Mississippi"
set1 = set(str1)
print(set1)

{'M', 'p', 's', 'i'}